#welcome {
  width: 100%;
  height: 100vh;

  display: flex;

  justify-content: center;

  align-items: center;

  background-size: cover;

  background-position: center;
}
#hero{

    position:relative;

    width:100%;
    height:100vh;

    display:none;

    justify-content:center;
    align-items:center;

    background-size:cover;
    background-position:center;

    overflow:hidden;

}

#hero.active{

    display:flex;

}

.hero-overlay {
  width: 100%;
  height: 100%;

  display: flex;

  flex-direction: column;

  justify-content: center;

  align-items: center;

background: linear-gradient(
    rgba(0,0,0,.20),
    rgba(0,0,0,.35));

  text-align: center;
}

.hero-overlay h2 {
  font-size: 4rem;

  font-weight: 700;
}

.hero-overlay p {
  margin-top: 20px;

  font-size: 1.3rem;
}

.scroll-indicator {
  position: absolute;

  bottom: 40px;

  font-size: 2rem;

  animation: float 2s infinite;
}
.fade-out {
      animation:fadeOut .45s forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;

    visibility: hidden;
  }
}
/*==============================
SCROLL ANIMATIONS
==============================*/

.reveal{

    opacity:0;

    transform:translateY(15px);

    transition:
        opacity .6s ease,
        transform .6s ease;

    will-change:opacity,transform;

}

.reveal.show{

    opacity:1;

    transform:translateY(0);

}